<!--Submittal Requirements-->
  <div class="container-fluid submit">
    <div class="welcomeSide col-md-2 col-md-offset-1">
      <ul class="sideBarHead">
        <li id="sideBarLi1">Helpful Links</li>
      </ul>
      <ul class="sideBarMenu">
        <li class="sideBarLi sideBarTop"><a href="http://fox.experis.us/faux/Faux.html#xp/viewFoxHome" target="_blank" class="sideBarLinks">FOX</a></li>
        <li class="sideBarLi"><a href="https://www.fieldglass.net" target="_blank" class="sideBarLinks">Field Glass</a></li>
        <li class="sideBarLi"><a href="https://intranetapps.manpower.com/JobBoardSSO/MonsterSSO" target="_blank" class="sideBarLinks">Monster</a></li>
        <li class="sideBarLi"><a href="http://www.indeed.com/resumes?isid=find-resumes&ikw=hometop&co=US&hl=en" target="_blank" class="sideBarLinks">Indeed</a></li>
        <li class="sideBarLi"><a href="https://employer.dice.com/daf/servlet/DAFctrl?op=1145&login=1" target="_blank" class="sideBarLinks">Dice</a></li>
        <li class="sideBarLi"><a href="https://www.google.com" target="_blank" class="sideBarLinks">Google</a></li>
        <li class="sideBarLi"><a href="https://en.wikipedia.org/wiki/Main_Page" target="_blank" class="sideBarLinks">Wikipedia</a></li>
        <li class="sideBarLi"><a href="https://intranetapps.manpower.com/loginsso/login?r=aHR0cDovL2ludHJhbmV0YXBwcy5tYW5wb3dlci5jb20vbmFpL2luZGV4LmpzcA==" target="_blank" class="sideBarLinks">iNet</a></li>
        <li class="sideBarLi"><a href="https://www.linkedin.com/nhome/" target="_blank" class="sideBarLinks">LinkedIn</a></li>
        <li class="sideBarLi sideBarBot"><a href="http://cdn2.hubspot.net/hubfs/450622/The_Ultimate_Tech_Glossary_for_Recruiters_and_HR_Managers.pdf?t=1452556459530" target="_blank" class="sideBarLinks">Tech Glossary [PDF]</a></li>
      </ul>
    </div>
    <div class="welcomeTable col-md-9">
    <table class="submittals col-md-offset-1">
      <tr>
        <th id="subTableHead" colspan="2">AIG Submittal Requirements</th>
      </tr>
      <tr class="tableTopper">
        <td class="sub1 tableTopper" colspan="2">SLA:  1 in 24 hours / 2 in 48-72 hours</td>
      </tr>
      <tr>
        <td class="sub1" colspan="2">VMS/VMO:  Fieldglass/TapFinn</td>
      </tr>
      <tr>
        <td class="sub4" rowspan="2">Mark Up %:  </td>
        <td class="sub5">W2 = 32%</td>
      </tr>
      <tr>
        <td class="sub5">SubVendor = 14%</td>
      </tr>
      <tr>
        <td class="sub1" colspan="2">Billing Discount:  2.15%</td>
      </tr>
      <tr>
        <td class="sub3" colspan="2">Submissions must have formatted <b>Letterhead</b> and <b>Coversheet</b></td>
      </tr>
      <tr>
        <td class="sub3" id="sub3" colspan="2">Submissions must be at least <b>$0.01</b> below max bill rate</td>
      </tr>
      <tr>
        <th id="subTableHead" colspan="2">Related Info</th>
      </tr>
      <tr class="tableTopper">
        <td class="sub1 tableTopper" colspan="2">Tenure:  18 months</td>
      </tr>
      <tr>
        <td class="sub1" id="sub3" colspan="2">Cool-Off Period:  6 months</td>
      </tr>
    </table>
      </div>
  </div>