<DOCTYPE! html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link href="/app/assets/stylesheets/welcome.scss" type="text/css" rel="stylesheet">
  <link href="/app/assets/stylesheets/bootstrap.css" type="text/css" rel="stylesheet">
  <meta charset="UTF-8">
<title>Example of Bootstrap 3 Dropdowns within Button Group</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>  
<body>
  <nav class="navbar">
    <div class="container">
    <div class="nav">
        <a type="button" class="btn" href="../welcome/index">HOME</a>
        <a type="button" class="btn" id="act">Calculator</a>
        <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn dropdown-toggle">Links <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="http://fox.experis.us/faux/Faux.html#xp/viewFoxHome" target="_blank">FOX</a></li>
                <li><a href="https://www.fieldglass.net" target="_blank">Fieldglass</a></li>
                <li class="divider"></li>
                <li><a href="https://intranetapps.manpower.com/JobBoardSSO/MonsterSSO" target="_blank">Monster</a></li>
                <li><a href="http://www.indeed.com/resumes?isid=find-resumes&ikw=hometop&co=US&hl=en" target="_blank">Indeed</a></li>
                <li><a href="https://employer.dice.com/daf/servlet/DAFctrl?op=1145&login=1" target="_blank">Dice</a></li>
                <li class="divider"></li>
                <li><a href="https://www.google.com" target="_blank">Google</a></li>
                <li><a href="https://www.wikipedia.com" target="_blank">Wikipedia</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn dropdown-toggle">Contact<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="../contact/recruiting">Recruiting</a></li>
                <li><a href="../contact/sales">Sales</a></li>
                <li class="divider"></li>
                <li><a href="../contact/management">Management</a></li>
            </ul>
        </div>
    </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="experis">
      <span id="experis">Experis</span>
      <span id="title">AIG</span>
      <span id="experis">Team</span>
    </div>
  </div>
  <div class="container-fluid">
    <div class="key">
        <ul>
          <li>Key:</li>
          <li>Title</li>
          <li>Input</li>
          <li>Result</li>
        </ul>
    </div>
  </div>
  <div class="container-fluid tiles">
    <div class="br2pr">
      <div>Bill Rate to Pay Rate</div>
        <form oninput="x.value = parseFloat( a.value / 1.32 , 10 ).toFixed(2); y.value = parseInt((a.value/1.32)*2080 , 10 )">
          <table id="br2pr">
            <tr>
              <th colspan="2" class="subTitle">W2</th>
            </tr>
            <tr>
              <td class="title">Bill Rate:</td>
              <td><input type="number" name="a" id="a" value="" style="width:100px;" class="input"></td>
            </tr>
            <tr>
              <td class="title">Pay Rate</td>
              <td class="title">Salary</td>
            </tr>
            <tr class="result">
              <td><output name="x" id="x" for="a"></output></td>
              <td><output name="y" id="y" for="a"></output></td>
            </tr>
          </table>
          </form>
          <form oninput="x.value = parseFloat( a.value / 1.14 , 10 ).toFixed(2); y.value = parseInt((a.value/1.14)*2080 , 10 )">
          <table id="br2pr">
            <tr>
              <th colspan="2" class="subTitle">Subvendor</th>
            </tr>
            <tr>
              <td class="title">Bill Rate:</td>
              <td><input type="number" name="a" id="a" value="" style="width:100px;" class="input"></td>
            </tr>
            <tr>
              <td class="title">Pay Rate</td>
              <td class="title">Salary</td>
            </tr>
            <tr class="result">
              <td><output name="x" id="x" for="a"></output></td>
              <td><output name="y" id="y" for="a"></output></td>
            </tr>
          </table>
        </form>
    </div>
    <div class="pr2br">
      <div>Pay Rate to Bill Rate</div>
      <form oninput="x.value = parseFloat( a.value * 1.32 , 10 ).toFixed(2); y.value = parseInt(a.value*2080 , 10 )">
        <table id="br2pr">
          <tr>
            <th colspan="2" class="subTitle">W2</th>
          </tr>
          <tr>
            <td class="title">Pay Rate:</td>
            <td><input type="number" name="a" id="a" value="" style="width:100px;" class="input"></td>
          </tr>
          <tr>
            <td class="title">Bill Rate</td>
            <td class="title">Salary</td>
          </tr>
          <tr class="result">
            <td><output name="x" id="x" for="a"></output></td>
            <td><output name="y" id="y" for="a"></output></td>
          </tr>
        </table>
        </form>
        <form oninput="x.value = parseFloat( a.value * 1.14 , 10 ).toFixed(2); y.value = parseInt(a.value*2080 , 10 )">
        <table id="br2pr">
          <tr>
            <th colspan="2" class="subTitle">Subvendor</th>
          </tr>
          <tr>
            <td class="title">Pay Rate:</td>
            <td><input type="number" name="a" id="a" value="" style="width:100px;" class="input"></td>
          </tr>
          <tr>
            <td class="title">Bill Rate</td>
            <td class="title">Salary</td>
          </tr>
          <tr class="result">
            <td><output name="x" id="x" for="a"></output></td>
            <td><output name="y" id="y" for="a"></output></td>
          </tr>
        </table>
        </form>
      </div>
    <div class="spread">
      <div>Spread and Markup</div>
      <form oninput="x.value = parseFloat(( a.value / b.value) - 1 , 10 ).toFixed(2)">
        <table id="mksp">
          <tr>
              <th colspan="2" class="subTitle">W2 & Subvendor</th>
            </tr>
            <tr>
          <tr>
            <td class="title">Bill Rate:</td>
            <td><input type="number" name="a" id="a" value="" style="width:100px;" class="input"></td>
          </tr>
          <tr>
            <td class="title">Pay Rate:</td>
            <td><input type="number" name="b" id="b" value="" style="width:100px;" class="input"></td>
          </tr>
          <tr>
            <td colspan="2" class="title">Mark Up %</td>
          </tr>
          <tr class="result">
            <td colspan="2"><output name="x" id="x" for="a b"></output></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
  <div container class="footer">
    <div>V2.0</div>
    <div>February 3rd, 2016</div>
    <div>Questions/Comments/Errors: <a href="mailto:ryan.field@experis.com">
  ryan.field@experis.com</a>.</div>
  </div>
</body>  
</html>