
  <div class="container-fluid">
    <div class="key">
        <ul>
          <li>Key:</li>
          <li>Title</li>
          <li>Input</li>
          <li>Result</li>
        </ul>
    </div>
  </div>
  <div class="container-fluid tiles">
    <div class="br2pr">
      <div>Bill Rate to Pay Rate</div>
        <form oninput="x.value = parseFloat( a.value / 1.32 , 10 ).toFixed(2); y.value = parseInt((a.value/1.32)*2080 , 10 )">
          <table id="br2pr">
            <tr>
              <th colspan="2" class="subTitle">W2</th>
            </tr>
            <tr>
              <td class="title">Bill Rate:</td>
              <td><input type="number" name="a" id="a" value="" style="width:100px;" class="input"></td>
            </tr>
            <tr>
              <td class="title">Pay Rate</td>
              <td class="title">Salary</td>
            </tr>
            <tr class="result">
              <td><output name="x" id="x" for="a"></output></td>
              <td><output name="y" id="y" for="a"></output></td>
            </tr>
          </table>
          </form>
          <form oninput="x.value = parseFloat( a.value / 1.14 , 10 ).toFixed(2); y.value = parseInt((a.value/1.14)*2080 , 10 )">
          <table id="br2pr">
            <tr>
              <th colspan="2" class="subTitle">Subvendor</th>
            </tr>
            <tr>
              <td class="title">Bill Rate:</td>
              <td><input type="number" name="a" id="a" value="" style="width:100px;" class="input"></td>
            </tr>
            <tr>
              <td class="title">Pay Rate</td>
              <td class="title">Salary</td>
            </tr>
            <tr class="result">
              <td><output name="x" id="x" for="a"></output></td>
              <td><output name="y" id="y" for="a"></output></td>
            </tr>
          </table>
        </form>
    </div>
    <div class="pr2br">
      <div>Pay Rate to Bill Rate</div>
      <form oninput="x.value = parseFloat( a.value * 1.32 , 10 ).toFixed(2); y.value = parseInt(a.value*2080 , 10 )">
        <table id="br2pr">
          <tr>
            <th colspan="2" class="subTitle">W2</th>
          </tr>
          <tr>
            <td class="title">Pay Rate:</td>
            <td><input type="number" name="a" id="a" value="" style="width:100px;" class="input"></td>
          </tr>
          <tr>
            <td class="title">Bill Rate</td>
            <td class="title">Salary</td>
          </tr>
          <tr class="result">
            <td><output name="x" id="x" for="a"></output></td>
            <td><output name="y" id="y" for="a"></output></td>
          </tr>
        </table>
        </form>
        <form oninput="x.value = parseFloat( a.value * 1.14 , 10 ).toFixed(2); y.value = parseInt(a.value*2080 , 10 )">
        <table id="br2pr">
          <tr>
            <th colspan="2" class="subTitle">Subvendor</th>
          </tr>
          <tr>
            <td class="title">Pay Rate:</td>
            <td><input type="number" name="a" id="a" value="" style="width:100px;" class="input"></td>
          </tr>
          <tr>
            <td class="title">Bill Rate</td>
            <td class="title">Salary</td>
          </tr>
          <tr class="result">
            <td><output name="x" id="x" for="a"></output></td>
            <td><output name="y" id="y" for="a"></output></td>
          </tr>
        </table>
        </form>
      </div>
    <div class="spread">
      <div>Spread and Markup</div>
      <form oninput="x.value = parseFloat(( a.value / b.value) - 1 , 10 ).toFixed(2)">
        <table id="mksp">
          <tr>
              <th colspan="2" class="subTitle">W2 & Subvendor</th>
            </tr>
            <tr>
          <tr>
            <td class="title">Bill Rate:</td>
            <td><input type="number" name="a" id="a" value="" style="width:100px;" class="input"></td>
          </tr>
          <tr>
            <td class="title">Pay Rate:</td>
            <td><input type="number" name="b" id="b" value="" style="width:100px;" class="input"></td>
          </tr>
          <tr>
            <td colspan="2" class="title">Mark Up %</td>
          </tr>
          <tr class="result">
            <td colspan="2"><output name="x" id="x" for="a b"></output></td>
          </tr>
        </table>
      </form>
    </div>
  </div>