<!--Contact Cards-->
  <div class="container-fluid contact">
    <table>
      <tr>
        <th colspan="2">Alana Beroth</th>
      </tr>
      <tr>
        <td>AIG Team Lead</td>
        <td>Charlotte, NC</td>
      </tr>
      <tr>
        <td><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>: 704-972-6515</td>
        <td><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>: 980-253-9852</td>
      </tr>
      <tr>
        <td colspan="2" class="email"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:alana.beroth@experis.com">: Alana.Beroth@Experis.com</a></td>
      </tr>
    </table>
    <table>
      <tr>
        <th colspan="2">Kileem Slayton</th>
      </tr>
      <tr>
        <td>CORE Recruiter</td>
        <td>Charlotte, NC</td>
      </tr>
      <tr>
        <td><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>: 704-972-6564</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" class="email"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:kileem.slayton@experis.com">: Kileem.Slayton@Experis.com</a></td>
      </tr>
    </table>
    <table>
      <tr>
        <th colspan="2">Ryan Field</th>
      </tr>
      <tr>
        <td>CORE Recruiter</td>
        <td>Charlotte, NC</td>
      </tr>
      <tr>
        <td><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>: 704-972-6553</td>
        <td><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>: 704-941-9683</td>
      </tr>
      <tr>
        <td colspan="2" class="email"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:ryan.field@experis.com">: Ryan.Field@Experis.com</a></td>
      </tr>
    </table>
    <table>
      <tr>
        <th colspan="2">Brooks Honeycutt</th>
      </tr>
      <tr>
        <td>CORE Recruiter</td>
        <td>Charlotte, NC</td>
      </tr>
      <tr>
        <td><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>: 704-972-6595</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" class="email"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:brooks.honeycutt@experis.com">: Brooks.Honeycutt@Experis.com</a></td>
      </tr>
    </table>
  </div>
