<!--Contact Cards-->  
  <div class="container-fluid contact">
    <table>
      <tr>
        <th colspan="2">Vincent Marti</th>
      </tr>
      <tr>
        <td>Client Service Director</td>
        <td>New York/New Jersey</td>
      </tr>
      <tr>
        <td><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>: 908-963-2011</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" class="email"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:vincent.marti@experis.com">: Vincent.Marti@Experis.com</a></td>
      </tr>
    </table>
    <table>
      <tr>
        <th colspan="2">Tori Pons</th>
      </tr>
      <tr>
        <td>Client Service Director</td>
        <td>Charlotte, NC</td>
      </tr>
      <tr>
        <td><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>: 704-941-8384</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" class="email"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:Tori.Pons@Experis.com">: Tori.Pons@Experis.com</a></td>
      </tr>
    </table>
  </div>
